<div class="super_container">

	<!-- Header -->



	<!-- Home -->

	<div class="home">
		<!-- Image by https://unsplash.com/@peecho -->
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="<%= asset_path 'images/homecontacto.jpg' %>" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_content">
						<div class="home_content_inner">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Find Form -->


	<!-- Contact -->

	<div class="contact">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="contact_title">Reserva una hora</div>
				</div>
			</div>
			<div class="row contact_content">
				<div class="col-lg-5">
					<div class="contact_text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla lectus nec diam auctor, ut fringilla diam sagittis. Quisque vel est id justo faucibus dapibus id a nibh. Aenean suscipit consequat lacus, sit amet mollis nulla. Morbi sagittis orci id lacus convallis tempus eget sit amet metus.</p>
						<div class="calendar">
							<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
							<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
							<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
							<script>
							$(function () {
							$("#datepicker").datepicker();
							});
							</script>
							Fecha:
							<div id="datepicker"></div>
						</div>
					</div>

				</div>
				<div class="col-lg-7">
					<div class="contact_form_container">

						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




	<!-- Footer -->


</div>
