<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header_container d-flex flex-row align-items-center justify-content-start">

          <!-- Logo -->
          <div class="logo_container">
            <div class="logo">
              <div class="logo_image"><img src="#" alt=""></div>
            </div>
          </div>

          <!-- Main Navigation -->
          <nav class="main_nav ml-auto">
            <ul class="main_nav_list">
              <li class="main_nav_item active"><a href="<%= pages_index_path %>">Home</a></li>
              <li class="main_nav_item"><a href="<%= pages_index_path %>#acerca">Quienes Somos</a></li>
              <li class="main_nav_item"><a href="<%= pages_index_path %>#viajes">Viajes de temporada</a></li>
              <li class="main_nav_item"><a href="news.html">Noticias</a></li>
            <li class="main_nav_item"><a href="<%= pages_contacto_path %>">Contacto</a></li>
            <% unless current_user %>
              <li class="main_nav_item"><a href="<%= new_user_session_path %>">Iniciar Sesión</a></li>
            <% else %>
              <li class="main_nav_item" method><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %> </li>
            <% end %>

            </ul>
          </nav>

          <!-- Search -->
          <div class="search">
            <form action="#" class="search_form">
              <input type="search" name="search_input" class="search_input ctrl_class" required="required" placeholder="Keyword">
              <button type="submit" class="search_button ml-auto ctrl_class"><img src="<%= asset_path 'images/search.png' %>" alt=""></button>
            </form>
          </div>

          <!-- Hamburger -->
          <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>

        </div>
      </div>
    </div>
  </div>
</header>
